<div class="detail">
  <app-header-section [titleHeader]="'Detalles.'"></app-header-section>
  <app-animation *ngIf="animation; else detailProduct" [message]="'Cargando Detalle Producto ...'"></app-animation>

</div>

<ng-template #detailProduct>
  <div class="product-detail">
    <ng-container *ngTemplateOutlet="imageContainer"></ng-container>

    <div class="product-detail__info">
      <ng-container *ngTemplateOutlet="headerInfo"></ng-container>
      <app-buttons-actions [buttons]="buttons" (onActionButton)="eventButtonAction($event)"></app-buttons-actions>
      <ng-container *ngTemplateOutlet="description"></ng-container>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="otherProducts"></ng-container>
</ng-template>



<ng-template #imageContainer>
  <div class="product-detail__container-imagen">
    <img [src]="product.image" alt="producto" class="product-detail__imagen">
  </div>
</ng-template>




<ng-template #headerInfo>
  <h2 class="product-detail__info-title">{{product.title}}</h2>
  <p class="product-detail__info-price">{{product.price | formatMoney:'en-US':'USD' }} USD</p>
  <div class="product-detail__info-ranking">Calificacion: {{product.rating.rate}}</div>
  <div class="product-detail__info-reviews">Reseñas: {{product.rating.count}}</div>
</ng-template>



<ng-template #description>
  <div class="product-detail__description">
    <h2 class="product-detail__description-title">Descripcion.</h2>
    <p class="product-detail__description-text">{{product.description}}</p>
  </div>
</ng-template>


<ng-template #otherProducts>
  <app-header-section [titleHeader]="'Otros Productos.'"></app-header-section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corporis deserunt eum accusantium fuga sit
    perspiciatis consequatur debitis voluptas nulla voluptatum fugiat, ipsum soluta id veniam cumque eos consectetur
    cupiditate?
  </p>
  <app-products class="product-category__items" [products]="productToCategory" [buttonsVisible]="false"></app-products>
</ng-template>
