<div class="detail">
  <app-header-section [titleHeader]="'Detalles.'"></app-header-section>

  <!-- <app-animation [message]="'Cargando Detalle Producto ...'"></app-animation> -->

  <div class="product-detail">
    <div class="product-detail__container-imagen">
      <img src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" alt=""
        class="product-detail__imagen">
    </div>

    <div class="product-detail__info">
      <h2 class="product-detail__info-title">Mens Casual Premium Slim Fit T-Shirts</h2>
      <p class="product-detail__info-price">$ 22.3</p>
      <div class="product-detail__info-ranking">Calificacion: 4.1</div>
      <div class="product-detail__info-reviews">Reseñas: 259</div>

      <ul class="product-detail__actions">
        <li class="product-detail__actions-item">
          <span class="product-detail__actions-text">Comprar Ahora</span>
          <svg class="product-detail__actions-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" width="40" height="40" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
          </svg>
        </li>
        <li class="product-detail__actions-item">
          <span class="product-detail__actions-text">Comprar Ahora</span>
          <svg class="product-detail__actions-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" width="40" height="40" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
          </svg>
        </li>
        <li class="product-detail__actions-item">
          <span class="product-detail__actions-text">Comprar Ahora</span>
          <svg class="product-detail__actions-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" width="40" height="40" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
          </svg>
        </li>
      </ul>

      <div class="product-detail__description">
        <h2 class="product-detail__description-title">Descripcion.</h2>
        <p class="product-detail__description-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
          dolorem aliquam dicta esse ipsa voluptatibus rem vero! Adipisci odit eveniet molestias veritatis tenetur
          tempora laboriosam, necessitatibus dolorum in earum amet.</p>
      </div>
    </div>
  </div>
</div>