

<li *ngIf="cardType === 'shopping'"  class="modal__item">
  <div class="modal__item-image">
    <img class="modal__img" [src]="product.image" alt="producto img">
  </div>

  <div class="modal__item-description">
    <p class="modal__item-title">{{product.cantidad}} x {{product.title}}</p>
    <span class="modal__item--text">Cantidad: {{product.cantidad}}</span>
    <span class="modal__item--text">Precio: {{product.price | number}}</span>
  </div>

  <div class="modal__item-price">
    <span class="modal__icon" (click)="eventButtonCard(cardType)">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </span>
    <span class="modal__text-price">$ {{product.total | number}}</span>
  </div>
</li>


<li *ngIf="cardType === 'favorite'" class="modal__item">
  <div class="modal__item-image">
    <img class="modal__img" [src]="product.image" alt="producto img">
  </div>

  <div class="modal__item-description">
    <p class="modal__item-title">{{product.cantidad}} x {{product.title}}</p>
    <span class="modal__item--text">Precio: {{product.price | number}}</span>
  </div>

  <div class="modal__item-price">
    <span class="modal__icon" (click)="eventButtonCard(cardType)">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </span>
  </div>
</li>
