
.modal__item {
  display: grid;
  grid-template-columns: auto 3fr auto;
  gap: 2rem;
  padding: 0 3rem;
}

.modal__item--default {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.modal__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__img {
  width: 6rem;
}

.modal__item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modal__item-title {
  font-weight: 700;
}

.modal__item--text {
  font-weight: 500;
}

.modal__item-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.modal__text-price {
  font-weight: 900;
}

.modal__icon {
  cursor: pointer;
}
